<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.andriders.talk.sasara">


    <application
            android:allowBackup="false"
            android:label="@string/Env.AppName"
            android:icon="@mipmap/ic_launcher"
            android:name="org.andriders.talk.sasara.CustomApplication"
            android:theme="@style/App.Theme">

        <activity android:name="org.andriders.talk.sasara.ui.navigation.ExampleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="org.andriders.talk.sasara.ui.navigation.ExampleWebActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- アプリのグローバルデータ管理用 -->
        <provider android:authorities="${applicationId}"
                  android:exported="false"
                  android:process=":data"
                  android:name="org.andriders.talk.sasara.content.CustomDataProvider"/>
    </application>

</manifest>
